@font-face {
  font-family: "Montserrat";
  font-style: normal;
  src: url("/fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Bold";
  font-style: bold;
  src: url("/fonts/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Bold-Italic";
  font-style: italic;
  src: url("/fonts/Montserrat-BoldItalic.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: "Montserrat", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  font-family: "Montserrat";
  text-align: center;
}

.player {
  background-color: #2b2b2b;
  position: absolute;
  bottom: 0;

  .podcast {
    user-select: none;
    margin: 0 20px;

    .podcast__title {
      text-align: center;
      margin: 0;
      color: white;
      font-family: "Montserrat", sans-serif;
      font-weight: normal;
      font-size: 1rem;
      // margin-bottom: 1rem;
    }

    .podcast__artist {
      margin: 0;
      color: white;
      font-family: "Montserrat", sans-serif;
      font-weight: normal;
      font-size: 1rem;

      &:hover {
        color: #cbc41b;
        cursor: pointer;
      }
    }
  }

  .controls {
    flex-grow: 1;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }

  .skip {
    cursor: pointer;
  }

  .player__button {
    width: fit-content;
    margin-bottom: 15px;
    background-color: transparent;
    border: none;
    cursor: pointer;

    svg {
      font-size: 4em;
    }

    &:focus {
      outline: none;
    }
    &:hover {
      cursor: pointer;
    }
  }

  .bar {
    user-select: none;
    width: 100vw;
    display: flex;
    align-items: center;
    margin: 0;

    .bar__progress {
      flex: 1;
      border-radius: 5px;
      margin: 0 20px;
      height: 5px;
      display: flex;
      align-items: center;
      cursor: pointer;

      .bar__progress__knob {
        position: relative;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        background-color: #cbc41b;
      }
    }
  }

  .time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: whitesmoke;
    font-size: 16px;
    margin: 10px 20px;
    width: 95vw;
  }

  .time__left {
    text-align: left;
  }

  .time__right {
    text-align: right;
  }

  @media screen and (max-width: 800px) {
    .controls {
      margin-top: 20px;
    }

    .bar {
      width: 90%;
    }
  }

  @media screen and (max-width: 500px) {
    .podcast {
      .podcast__title {
      }

      .podcast__artist {
        // font-size: 0.8em;
      }
    }
  }
}

.play {
  color: white;
}
